<ion-header mode='ios' class="product-header">
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button style="font-size: 4vw;" text="{{'Atrás' | translate}}" defaultHref="/tabs/home/stores-by-cat"></ion-back-button>
      </ion-buttons>
      <ion-title style="font-size: 4vw;" class="delbarrio-header">
         {{"DEL BARRIO" | translate}}
      </ion-title>
      <ion-buttons slot="end" (click)="share()">
         <ion-icon name="share-social" style="margin-right: 8px;font-size: 4vw;"></ion-icon>
      </ion-buttons>
   </ion-toolbar>
</ion-header>
<ion-content scroll-events="true" (ionScroll)="onPageScroll()">
   <div class="spinner" *ngIf="!store.ID || loader">
      <ion-spinner> </ion-spinner>
   </div>

   <ion-row style="position: fixed; z-index: 1000; padding: 10px 0;" [hidden]="!openFeedbackForm" class="contact-form">
    <ion-list style="border: #2b3f5a 1px solid; text-align:center; border-radius: 15px;">
      <div style="padding: 20px; clear:both;">
         <div style="color:#687e95;  font-weight: light; margin-bottom: 20px;">
            <ion-label>{{"Déjanos tus contactos, te avisaremos, cuando aparezca este producto" | translate}}</ion-label>
         </div>
         <form [formGroup]="form">
         <ion-item style="
         --border-color: var(--ion-color-medium-shade);
         --border-radius: 50px;
         --border-width: 1px;
         --highlight-height: 0;
         --background: #f8f9fa;">
         <ion-label for="name" mode="ios" color="medium" >NOMBRE</ion-label>
         <ion-input type="text" formControlName="name" clearInput="true"></ion-input>
         </ion-item>
         <ion-item style="
         --border-color: var(--ion-color-medium-shade);
         --border-radius: 50px;
         --border-width: 1px;
         --highlight-height: 0;
         --background: #f8f9fa;">
         <ion-label for="phone" mode="ios" color="medium" >TELEFONO</ion-label>
         <ion-input type="number" formControlName="phone" clearInput="true"></ion-input>
         </ion-item>
         <ion-item style="
         --border-color: var(--ion-color-medium-shade);
         --border-radius: 50px;
         --border-width: 1px;
         --highlight-height: 0;
         --background: #f8f9fa;">
         <ion-label for="email" mode="ios" color="medium" >EMAIL</ion-label>
         <ion-input type="email" formControlName="email" clearInput="true"></ion-input>
         </ion-item>
         </form>
         <ion-item lines="none" *ngIf="errorMessage" style="width: 250px;">
         <span style="color: red;">{{errorMessage}}</span>
         </ion-item>
         <ion-button color="tertiary" style="--border-radius:50px 50px 50px 50px; margin-top:60px;" expand="block" fill="solid" (click)="onSubmit()">{{"Enviar" | translate}}</ion-button>
         <ion-button color="danger" (click)="closeForm()" style="--border-radius:50px 50px 50px 50px; margin-top: 30px;" expand="block" fill="solid">
            <ion-icon name="close"></ion-icon>{{"Cerrar" | translate}}
         </ion-button>
      </div>
   </ion-list>
   </ion-row>

   <div *ngIf="store || data.store" style="height:17%; background-color: #2b3f5a; color:white; text-align: center;" id="pageHeader">
      <ion-title style="margin-top: auto;">
         <p *ngIf="store.post_title" >{{store?.post_title}}</p>
         <p *ngIf="store.wordpress_store_locator_city && store.wordpress_store_locator_zip" style=" font-weight: 100;">{{store?.wordpress_store_locator_city + ", " + store?.wordpress_store_locator_zip}}</p>
         <p *ngIf="!store && data.store" >{{data.store.na}}</p>
         <p *ngIf="!store && data.store" style=" font-weight: 100;">{{data.store.ct + ', ' + data.store.zp}}</p>
      </ion-title>
   </div>

   <ion-button id="chatIcon" *ngIf="store?.wordpress_store_locator_mobile" mode="ios" href="https://wa.me/{{store?.wordpress_store_locator_mobile}}" color="danger" style="height:7%; width:20%; position:fixed; right:0; z-index: 100; margin: -30px 0 0 0;--border-radius:50px 0px 0px 50px">
      <ion-icon name="logo-whatsapp" mode="ios"></ion-icon>
      <!-- <ion-badge  color="{{settings.theme.button}}" *ngIf="incomeMessages?.length"><span class="count">{{incomeMessages.length}}</span></ion-badge> -->
   </ion-button>
   <ion-button id="cartIcon" *ngIf="store?.cart" mode="ios" (click)="openCart()" color="danger" style="height:7%; width:20%; position:fixed; z-index: 100; margin: -30px 0 0 0;--border-radius:0px 50px 50px 0px">
      <ion-icon name="cart-outline" mode="ios"></ion-icon>
      <ion-badge  id="cartBadge" color="{{settings.theme.button}}" *ngIf="data.count != 0"><span class="count">{{data.count}}</span></ion-badge>
   </ion-button>

   <ion-searchbar mode="ios" animated [(ngModel)]="searchInput" (ionChange)="onInput()" placeholder="{{'Buscar productos' | translate}}"></ion-searchbar>

   <div class="product-details">

   </div>
   <ion-row>
      <ion-col *ngIf="store.categories?.length > 0">
         <ion-select multiple="false" placeholder="Categorías" [(ngModel)]="chosenCategory" (ionChange)="getCategory()" style="color: #687e95; float:left; clear: both;--placeholder-opacity: 1; width: 100%; max-width: 100%;">
            <ion-select-option value='0' style=" width:100%;">Todos</ion-select-option>
            <ion-select-option style=" width:100%;" *ngFor="let main of store.categories; let i = index" text-wrap value="{{main.id}}">{{main.name}}</ion-select-option>
         </ion-select>
      </ion-col>
      <ion-col *ngIf="store.ordering && data.storeCategory?.term_id != 45">
         <ion-select multiple="false" placeholder="Ordenar por" [(ngModel)]="chosenOrder" (ionChange)="getProducts()" style="color: #687e95; float:right; clear: both;--placeholder-opacity: 1; ; width: 100%">
            <ion-select-option style=" width:100%;" *ngFor="let order of store.ordering | keys" text-wrap value="{{order.key}}">{{order.value}}</ion-select-option>
         </ion-select>
      </ion-col>
   </ion-row>
   <ion-row *ngIf="store.chosenCategory" style="margin-bottom: 50px;">
      <ion-col size="6" *ngFor="let subcat of store.chosenCategory.subcategories | keys" (click)=getSubcategory(subcat.value.term_id) style="height: 45px;">
         <p style=" height: 40px ;border: #687e95 1px solid; border-radius: 10px 10px 10px 10px; text-align: center; color: #687e95;"><span>{{subcat.value.name}}</span></p>
      </ion-col>
   </ion-row>

<ion-item [hidden]="loader || productAmount < 21 || !loadingProducts && (result == [] || result == null || result == undefined || !result || result.length == 0)" lines="none" style="width: 100%">
 <ion-button fill="clear" (click)="changeSlide('back')" *ngIf="store.products?.length" [disabled]="store.products?.length == 1">
   <ion-icon style="color:#687e95;font-size: 4vw;" name="arrow-back-outline"></ion-icon>
 </ion-button>
 <ion-slides #slider style="font-size: 4vw;" (ionSlideDidChange)="ionSlideDidChange()" style="width:60%;">
   <ion-slide style="color:#687e95; font-size: 4vw; width: 100%;" *ngFor="let slide of store.products; let i = index">{{1*i+1}}</ion-slide>
 </ion-slides>
 <ion-button fill="clear" (click)="changeSlide('forward')" *ngIf="store.products?.length" [disabled]="store.products?.length == 1">
   <ion-icon style="color:#687e95;font-size: 4vw;" name="arrow-forward-outline"></ion-icon>
 </ion-button>
</ion-item>

   <div class="spinner" *ngIf="loadingProducts">
      <div style="margin-bottom:25px; text-align:center; color:#687e95;  font-weight: lighter;">{{"CARGANDO LOS PRODUCTOS" | translate}}</div>
      <ion-spinner></ion-spinner>
    </div>

<div *ngIf="!loader && !loadingProducts && (result == [] || result == null || result == undefined || !result || result.length == 0)" style=" color:#687e9;text-align: center">
  <p style="font-size:5vw; font-weight: bold;">No se han encontrado productos.</p>
</div>

   <ion-row class="product-row" style="height: 100%" *ngIf="!loadingProducts && (result != [] && result != null && result != undefined && result && result.length != 0)">
      <ion-col *ngFor="let product of displayProducts" size="6">
         <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="settings.settings?.enable_product_chat">
            <a href="https://wa.me/{{settings.settings?.whatsapp_number}}">
               <ion-fab-button size="small" color="whatsapp">
                  <ion-icon name="logo-whatsapp"></ion-icon>
               </ion-fab-button>
            </a>
         </ion-fab>
            <div style="display: flex; height:150px;">
               <ion-slides pager="true" *ngIf="!product.image" dir="{{settings.dir}}">
                  <ion-slide *ngFor="let item of product.images">
                     <img src="{{item.src}}" (click)="getProduct(product)"/>
                  </ion-slide>
               </ion-slides>
               <div *ngIf="product.image" (click)="getProduct(product)">
                  <ion-img src="{{product.image}}"></ion-img>
               </div>
            </div>

            <!-- <ion-label *ngIf="product.sale_price && ((product.regular_price - product.price) /product.regular_price*100) >= 1" style="background-color:rgb(1, 211, 1); padding: 3px; border-radius: 10px; width: 1%; top: 10px;" color="white">- {{(product.regular_price - product.price) /product.regular_price*100 | number : '1.0-0'}}%</ion-label> -->

            <div class="product-details">
               <ion-item lines="none">
                  <ion-label text-wrap style=" width: 50px; overflow: hidden; text-overflow: ellipsis;">
                     {{product.name}}
                  </ion-label>
                  <ion-icon name="heart-outline" class="heartempty onpress" slot="end" (click)="settings.addToWishlist(product.id, product.path)" *ngIf="!settings.wishlist[product.id]"></ion-icon>
                  <ion-icon name="heart" class="heartempty onpress" slot="end" color="{{settings.theme.button}}" (click)="settings.removeFromWishlist(product.id, product.path)" *ngIf="settings.wishlist[product.id]"></ion-icon>
               </ion-item>
            </div>
            <!--WCMP-->
            <!-- <ion-chip color="primary" (click)='getDetail(product.vendor)' *ngIf="product.vendor?.id">
            <ion-icon name="person"></ion-icon>
            <ion-label>{{"SoldBy" | translate }} - {{product.vendor.name}}</ion-label>
            </ion-chip>
            -->
            <!-- <ion-item lines="none" *ngIf="product.sale_price && ((product.regular_price - product.price) /product.regular_price*100) >= 1"> -->
               <!-- <ion-label *ngIf="product.sale_price && ((product.regular_price - product.price) /product.regular_price*100) >= 1" style="background-color:rgb(1, 211, 1); padding: 3px; border-radius: 10px; width: 10%" color="white">- {{(product.regular_price - product.price) /product.regular_price*100 | number : '1.0-0'}}%</ion-label> -->
            <!-- </ion-item> -->

            <ion-item *ngIf="!product.sale_price" lines="none">
               <ion-label>
                  <span class="price" [innerHTML]="product.formated_price"></span>
               </ion-label>
            </ion-item>

            <ion-item text-wrap lines="none" *ngIf="product.sale_price && product.sale_price < product.regular_price">
               <ion-label>
                  <del><span style="margin-right: 10px;" class="special-price" [innerHTML]="product.formated_price"></span></del>
                  <span class="price" [innerHTML]="product.formated_sales_price"></span>
               </ion-label>
            </ion-item>

            <!-- <div class="variation-block" *ngIf="product.variationOptions && product.variationOptions.length">
               <div *ngFor="let attribute of product.variationOptions; let i = index" class="variation-product">
                  <h6 style="margin-left: 16px;">{{"Seleccionar" | translate}} {{attribute.name}}</h6>
                  <div *ngIf="attribute.options.length" class="option-box">
                     <ion-button class="option-button" fill="outline" color="{{settings.theme.button}}" *ngFor="let option of attribute.options" (click)="chooseVariation2(i, option)" [ngClass]="{'selected-option': attribute.selected == option}">{{option}}</ion-button>
                  </div>
               </div>
            </div>  -->
            <!-- USE WHEN ABOVE ONE NOT WORKING PROPERLY -->
            <!-- <div class="variation-block" *ngIf="variations.length">
               <div *ngFor="let attribute of usedVariationAttributes" class="variation-product">
                  <h6 style="margin-left: 16px;">{{"Seleccionar" | translate}} {{attribute.name}}</h6>
                  <div *ngIf="attribute.options.length" class="option-box">
                     <ion-button class="option-button" fill="outline" color="{{settings.theme.button}}" *ngFor="let option of attribute.options" (click)="chooseVariation(attribute, option)" [ngClass]="{'selected-option': attribute.selected == option}">{{option}}</ion-button>
                  </div>
               </div>
            </div> -->

            <div class="grouped-block" *ngIf="groupedProducts.length">
               <div *ngFor="let item of groupedProducts" class="variation-product">
                  <ion-input style="margin-left: 16px;margin-right: 16px;" type="number" [(ngModel)]="item.selected" value="0" placeholder="Quantity"></ion-input>
                  <h6 style="margin-left: 16px;">{{item.name}}</h6>
               </div>
            </div>
            <!-- Product Addons -->
         <div *ngIf="product.type != 'external'" class="add-to-cart-button" style="bottom: 0px;">

            <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="product.add_ons != false || product.variationOptions?.length != 0">
               <ion-col>
                  <ion-button style="--border-radius: 64px 64px 64px 64px;" mode="ios" expand="block" color="{{settings.theme.button}}" [disabled]="product.stock_status == 'outofstock'" (click)="getProduct(product)">
                  {{"Ver opciones"  | translate}}
                  </ion-button>
               </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="product.variations?.length != 0 && !product.variationOptions?.length">
               <ion-col>
                  <ion-button style="--border-radius: 64px 64px 64px 64px;" mode="ios" expand="block" color="{{settings.theme.button}}" [disabled]="product.stock_status == 'outofstock'" (click)="getProduct(product)">
                  {{"Ver productos"  | translate}}
                  </ion-button>
               </ion-col>
            </ion-row>

               <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="product.type == 'variable' && product.add_ons == false  && !product.variationOptions?.length && !product.variations?.length">
               <ion-col *ngIf="data.cart[product.id] == undefined || data.cart[product.id] == 0 && !product.variationOptions?.length">
                  <ion-button *ngIf="product.price != 0 && product.stock_status == 'instock'" style="--border-radius: 64px 64px 64px 64px;" mode="ios" expand="block" color="{{settings.theme.button}}"  (click)="addToCart(product)">
                     <!-- [disabled]="product.price == 0 && product.regular_price == 0 && product.sale_price == 0" -->
                     {{"Añadir"  | translate}}
                  </ion-button>
                  <ion-button class="notify-button" *ngIf="product.price == 0 || product.stock_status=='outofstock'" mode="ios" expand="block" color="primary"  (click)="notifyClient(product)">
                     <!-- [disabled]="product.price == 0 && product.regular_price == 0 && product.sale_price == 0" -->
                     {{ "Avisar, cuando llega" | translate}}
                  </ion-button>
               </ion-col>
               <ion-col style="text-align: center;" *ngIf="data.cart[product.variation_id] >= 1 && !product.variationOptions?.length" align-self-end>
                  <ion-row>
                     <ion-button style="--border-radius: 64px 0 0 64px;" mode="ios" expand="block" color="{{settings.theme.button}}" (click)="deleteFromCart(product)">
                     <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                     </ion-button>

                     <ion-button expand="full" mode="ios" fill="outline" color="{{settings.theme.button}}" *ngIf="data.cart[product.variation_id] >= 1">{{data.cart[product.variation_id]}}
                     </ion-button>

                     <ion-button style="--border-radius: 0 64px 64px 0;" mode="ios" expand="block" color="{{settings.theme.button}}"  *ngIf="data.cart[product.variation_id] >= 1" (click)="updateToCart(product)">
                     <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                     </ion-button>
                  </ion-row>
               </ion-col>
               </ion-row>

               <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="product.type != 'variable' && product.add_ons == false  && !product.variationOptions?.length && !product.variations?.length">
                  <ion-col *ngIf="data.cart[product.id] == undefined || data.cart[product.id] == 0 && !product.variationOptions?.length">
                     <!-- GET HERE TO THE AÑADIR BUTTON -->
                     <ion-button *ngIf="product.price != 0 && product.stock_status == 'instock'" style="--border-radius: 64px 64px 64px 64px;" mode="ios" expand="block" color="{{settings.theme.button}}"  (click)="addToCart(product)">
                        <!-- [disabled]="product.price == 0 && product.regular_price == 0 && product.sale_price == 0" -->
                        {{"Añadir"  | translate}}
                     </ion-button>
                     <ion-button class="notify-button" *ngIf="product.price == 0 || product.stock_status=='outofstock'" mode="ios" expand="block" color="primary"  (click)="notifyClient(product)">
                        <!-- [disabled]="product.price == 0 && product.regular_price == 0 && product.sale_price == 0" -->
                        {{ "Avisar, cuando llega" | translate}}
                     </ion-button>
                  </ion-col>
                  <ion-col style="text-align: center;" *ngIf="data.cart[product.id] != undefined && data.cart[product.id] >= 1 && !product.variationOptions?.length" align-self-end>
                     <ion-row>
                        <ion-button style="--border-radius: 64px 0 0 64px; width:30%;padding-right: 0px; margin-right:0px;" mode="ios" expand="block" color="{{settings.theme.button}}" (click)="deleteFromCart(product)">
                        <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                        </ion-button>

                        <ion-button style="width:27.5%; padding-left: 0px; margin-left:0px;padding-right: 0px; margin-right:0px;" expand="full" mode="ios" fill="outline" color="{{settings.theme.button}}" *ngIf="data.cart[product.id] >= 1">{{data.cart[product.id]}}
                        </ion-button>

                        <ion-button style="--border-radius: 0 64px 64px 0; width:30%; padding-left: 0px; margin-left:0px;" mode="ios" expand="block" color="{{settings.theme.button}}"  *ngIf="data.cart[product.id] >= 1" (click)="updateToCart(product)">
                        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                        </ion-button>
                     </ion-row>
                  </ion-col>
               </ion-row>

            </div>


         <ion-button style="--border-radius: 64px 64px 64px 64px;" mode="ios" *ngIf="product.type == 'external'" class="add-to-cart-button" color="{{settings.theme.button}}" expand="block" fill="solid" [disabled]="disableButton || product.stock_status == 'outofstock'" (click)="buyExternalProduct(product.id)">{{"COMPRAR AHORA" | translate}}</ion-button>

         <div *ngIf="relatedProducts?.relatedProducts?.length" class="related-products">
            <ion-list-header>
               <ion-label>{{"Mas así" | translate}}</ion-label>
            </ion-list-header>
            <div class="scroll-related-products">
               <div class="product" *ngFor="let item of relatedProducts.relatedProducts" [style.width.px]="settings.dimensions.productSliderWidth">
                  <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}}" [style.border-radius.px]="settings.dimensions.productBorderRadius">
                     <ion-img (click)="goToProduct(item)" alt="" [style.height.px]="settings.dimensions.homeSliderHeight" src="{{item?.images[0]?.src}}"></ion-img><ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]" (click)="settings.addToWishlist(item.id, item.path)"></ion-icon>
                     <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid" *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id, item.path)"></ion-icon>
                     <ion-card-header (click)="goToProduct(item)">
                        <ion-card-subtitle mode="md">{{item.name}}</ion-card-subtitle>
                     </ion-card-header>
                     <ion-card-content>
                        <p class="price">
                           <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
                           <span class="regular-price" *ngIf="item.sale_price" [innerHTML]="item.formated_sales_price"><span class="special-price" [innerHTML]="item.formated_price"><del></del></span></span>
                        </p>
                        <ion-row class="ion-align-items-center ion-justify-content-center">
                           <ion-col *ngIf="data.cart[item.id] == undefined || data.cart[item.id] == 0">
                              <ion-button expand="block" size="small" color="{{settings.theme.button}}" [disabled]="item.stock_status == 'outofstock'" (click)="addToCart(item)">
                                 {{item.stock_status == 'outofstock' ? "Agotado" : "Añadir"  | translate}}
                              </ion-button>
                           </ion-col>
                           <ion-col style="text-align: center;" *ngIf="data.cart[item.id] >= 1" align-self-end>
                              <ion-row>
                                 <ion-col>
                                       <ion-button expand="block" size="small" color="{{settings.theme.button}}" (click)="deleteFromCart(item)">
                                       <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                                       </ion-button>
                                 </ion-col>
                                 <ion-col>
                                       <ion-button expand="full" fill="outline" color="{{settings.theme.button}}" *ngIf="data.cart[item.id] >= 1">{{data.cart[item.id]}}
                                       </ion-button>
                                 </ion-col>
                                 <ion-col>
                                       <ion-button expand="block"  size="small" color="{{settings.theme.button}}"  *ngIf="data.cart[item.id] >= 1" (click)="updateToCart(item)">
                                       <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                                       </ion-button>
                                 </ion-col>
                              </ion-row>
                           </ion-col>
                        </ion-row>
                     </ion-card-content>
                  </ion-card>
               </div>
            </div>
         </div>
      </ion-col>
   </ion-row>

   <div *ngIf="upsellProducts?.upsellProducts?.length" class="related-products">
      <ion-list-header>
         <ion-label>{{"Te gustará" | translate}}</ion-label>
      </ion-list-header>
      <div class="scroll-related-products">
         <div class="product" *ngFor="let item of upsellProducts.upsellProducts" [style.width.px]="settings.dimensions.productSliderWidth">
         <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}}" [style.border-radius.px]="settings.dimensions.productBorderRadius">
            <ion-img alt="" [style.height.px]="settings.dimensions.homeSliderHeight" src="{{item?.images[0]?.src}}"></ion-img>
            <ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]" (click)="settings.addToWishlist(item.id, item.path)"></ion-icon>
            <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid" *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id, item.path)"></ion-icon>
            <ion-card-header (click)="goToProduct(item)">
               <ion-card-subtitle mode="md">{{item.name}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
               <p class="price">
                  <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
                  <span class="regular-price" *ngIf="item.sale_price" [innerHTML]="item.formated_sales_price"><span class="special-price" [innerHTML]="item.formated_price"><del></del></span></span>
               </p>
              <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col *ngIf="data.cart[item.id] == undefined || data.cart[item.id] == 0">
                      <ion-button expand="block" size="small" color="{{settings.theme.button}}" [disabled]="item.stock_status == 'outofstock'" (click)="addToCart(item)">
                        {{item.stock_status == 'outofstock' ? "Agotado" : "Añadir"  | translate}}
                      </ion-button>
                  </ion-col>
                  <ion-col style="text-align: center;" *ngIf="data.cart[item.id] >= 1" align-self-end>
                <ion-row>
                  <ion-col>
                        <ion-button expand="block" size="small" color="{{settings.theme.button}}" (click)="deleteFromCart(item)">
                        <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                        </ion-button>
                  </ion-col>
                  <ion-col>
                        <ion-button expand="full" fill="outline" color="{{settings.theme.button}}" *ngIf="data.cart[item.id] >= 1">{{data.cart[item.id]}}
                        </ion-button>
                  </ion-col>
                  <ion-col>
                        <ion-button expand="block"  size="small" color="{{settings.theme.button}}"  *ngIf="data.cart[item.id] >= 1" (click)="updateToCart(item)">
                        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                        </ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
              </ion-row>
            </ion-card-content>
         </ion-card>
      </div>
   </div>
   </div>

   <div *ngIf="crossSellProducts?.crossSellProducts?.length" class="related-products">
      <ion-list-header>
         <ion-label>{{"Recomendado" | translate}}</ion-label>
      </ion-list-header>
      <div class="scroll-related-products">
         <div class="product" *ngFor="let item of crossSellProducts.crossSellProducts" [style.width.px]="settings.dimensions.productSliderWidth">
         <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}}" [style.border-radius.px]="settings.dimensions.productBorderRadius">
            <ion-img alt="" (click)="goToProduct(item)" [style.height.px]="settings.dimensions.homeSliderHeight" src="{{item?.images[0]?.src}}"></ion-img><ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]" (click)="settings.addToWishlist(item.id, item.path)"></ion-icon>
            <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid" *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id, item.path)"></ion-icon>
            <ion-card-header (click)="goToProduct(item)">
               <ion-card-subtitle mode="md">{{item.name}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
               <p class="price">
                  <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
                  <span class="regular-price" *ngIf="item.sale_price" [innerHTML]="item.formated_sales_price"><span class="special-price" [innerHTML]="item.formated_price"><del></del></span></span>
               </p>
              <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col *ngIf="data.cart[item.id] == undefined || data.cart[item.id] == 0">
                      <ion-button expand="block" size="small" color="{{settings.theme.button}}" [disabled]="item.stock_status == 'outofstock'" (click)="addToCart(item)">
                        {{item.stock_status == 'outofstock' ? "Agotado" : "Añadir"  | translate}}
                      </ion-button>
                  </ion-col>
                  <ion-col style="text-align: center;" *ngIf="data.cart[item.id] >= 1" align-self-end>
                <ion-row>
                  <ion-col>
                        <ion-button expand="block" size="small" color="{{settings.theme.button}}" (click)="deleteFromCart(item)">
                        <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                        </ion-button>
                  </ion-col>
                  <ion-col>
                        <ion-button expand="full" fill="outline" color="{{settings.theme.button}}" *ngIf="data.cart[item.id] >= 1">{{data.cart[item.id]}}
                        </ion-button>
                  </ion-col>
                  <ion-col>
                        <ion-button expand="block"  size="small" color="{{settings.theme.button}}"  *ngIf="data.cart[item.id] >= 1" (click)="updateToCart(item)">
                        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                        </ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
              </ion-row>
            </ion-card-content>
         </ion-card>
      </div>
   </div>
   </div>

   <!-- <ion-item detail="true" (click)="getReviewsPage()" *ngIf="reviews?.length" class="review-item ion-activatable">
   <ion-label>{{reviews.length}} {{"Valoración de los clientes" | translate}}</ion-label>
   <ion-icon name="ios-arrow-forward" item-end></ion-icon>
   </ion-item> -->

   <div *ngFor="let item of reviews">
      <ion-item lines="none">
         <ion-avatar slot="start">
            <ion-img alt="" src="https://www.gravatar.com/avatar/{{item.avatar}}"></ion-img>
         </ion-avatar>
         <ion-label>
            {{item.author}}
            <span class="rating review-star">
            <span class="star-icon" [ngClass]="{full: item.rating >= 1, half: item.rating == 0.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.rating >= 2, half: item.rating == 1.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.rating >= 3, half: item.rating == 2.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.rating >= 4, half: item.rating == 3.5}">&#x2605;</span> <span class="star-icon" [ngClass]="{full: item.rating >= 5, half: item.rating == 4.5}">&#x2605;</span></span>
            <p>{{item.date | datepipe}}</p>
         </ion-label>
      </ion-item>
      <ion-item>
         <ion-label class="review-content">
            <p text-wrap [innerHTML]="item.content"></p>
         </ion-label>
      </ion-item>
   </div>

</ion-content>
