.messaging {
    .grand-total {
        font-weight: 900;
    }
    .clientMessage {
        margin-left: 300px;
    }

    @media screen and (max-width: 415px) {
        .message {
            font-size: medium;
            word-wrap: break-word;
            white-space: pre-wrap;
        }
    }

    @media screen and (min-width: 540px) {
        .message {
            font-size: 4vw;
            word-wrap: break-word;
            white-space: pre-wrap;
        }
    }

    
    @media screen and (max-width: 415px) {
        .message-detail {
            white-space: nowrap;
            font-size: 12px;
            padding-top: 5px;
        }
    }

    @media screen and (min-width: 540px) {
        .message-detail {
            white-space: nowrap;
            font-size: 2vw;
            padding-top: 5px;
        }
    }

    .chat-bubble {
    border-radius: 5px;
    display: inline-block;
    position: relative;
    padding: 8px;
    margin: 8px 12px;
    max-width: 80%;
    }

    .chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 13px;
    width: 9px;
    position: absolute;
    bottom: -.5px;
    }

    .chat-bubble.left {
    background-color: lightgreen;
    color: white;
    float: left;
    clear:both;
    }

    .chat-bubble.right {
    background-color: lightskyblue;
    color: white;
    float: right;
    clear:both;
    }

    .chat-bubble.left:before {
    background-color: lightgreen;
    left: -4px;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 50%;
    -webkit-transform: rotate(70deg) skew(5deg);
    }

    .chat-bubble.right:before {
    background-color: lightskyblue;
    right: -4px;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 100%;
    -webkit-transform: rotate(118deg) skew(-5deg);
    }

}


ion-footer {
    @media screen and (min-width: 540px) {
        ion-input {
            font-size: 5vw;
        }
        ion-button {
            width: 100px;
            height: 60px;
        }
        ion-icon {
            font-size: 4vw;
        }
    }
}

::ng-deep {
    
    @media screen and (min-width: 540px) {
        ion-action-sheet {
            .action-sheet-wrapper.ion-overlay-wrapper.sc-ion-action-sheet-ios, .action-sheet-wrapper.ion-overlay-wrapper.sc-ion-action-sheet-md {
                .action-sheet-container.sc-ion-action-sheet-ios, .action-sheet-container.sc-ion-action-sheet-md {
                    .action-sheet-group.sc-ion-action-sheet-ios, .action-sheet-group.sc-ion-action-sheet-md {
                        margin-bottom: 60px;
                        height: 50px;
                        .action-sheet-button.ion-activatable.ion-focusable.action-sheet-destructive.sc-ion-action-sheet-ios, .action-sheet-button.ion-activatable.ion-focusable.action-sheet-destructive.sc-ion-action-sheet-md {
                            font-size: 4vw;
                            height: 50px;
                            span {
                                ion-icon {
                                    font-size: 4vw;
                                }
                            }
                        }
                    }
                    .action-sheet-group.action-sheet-group-cancel.sc-ion-action-sheet-ios, .action-sheet-group.action-sheet-group-cancel.sc-ion-action-sheet-md {
                        height: 50px;
                        .action-sheet-button.ion-activatable.ion-focusable.action-sheet-cancel.sc-ion-action-sheet-ios, .action-sheet-button.ion-activatable.ion-focusable.action-sheet-cancel.sc-ion-action-sheet-md {
                            font-size: 4vw;
                            height: 50px;
                            span {
                                ion-icon {
                                    font-size: 4vw;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}