<ion-tabs>
  <ion-tab-bar slot="bottom" style="background-color: #ececec">
    <ion-tab-button tab="home" style="background-color: #ececec; border-right: 1px solid #ccd1d7;">
      <ion-icon name="home"></ion-icon>
      <ion-label tabindex="0" role="button" aria-label="Login or register page">{{'Tiendas' | translate}}</ion-label>
    </ion-tab-button>

    <!--ion-tab-button tab="vendor">
      <ion-icon name="apps"></ion-icon>
      <ion-label>{{'Store' | translate}}</ion-label>
    </ion-tab-button-->
<!-- 
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>{{'Buscar' | translate}}</ion-label>
    </ion-tab-button> -->
<!-- 
    <ion-tab-button tab="categories">
      <ion-icon name="grid-outline" mode="md"></ion-icon>
      <ion-label>{{'Categoría' | translate}}</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="cart">
      <ion-icon name="basket" mode="md"></ion-icon>
      <ion-label>{{'Carrito' | translate}}</ion-label>
      <ion-badge color="{{settings.theme.button}}" *ngIf="data.count != 0"><span class="count">{{data.count}}</span></ion-badge>
    </ion-tab-button> -->

    <ion-tab-button tab="account" style="background-color: #ececec; border-left: 1px solid #ccd1d7;">
      <ion-icon name="person"></ion-icon>
      <ion-label tabindex="0" role="button" aria-label="Login or register page">{{'Cuenta' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-button *ngIf="checkPage()" (click)='openHelp()' mode="md" class="ion-activatable" style="position:fixed; height:50px; width:50px; z-index: 100; --border-radius:50px 50px 50px 50px; right: 0; bottom: 0; margin-bottom: 70px; margin-right: 10px">
    <ion-icon name="help" size="larger"></ion-icon>
  </ion-button>
</ion-tabs>
