<ion-header mode='ios'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="font-size: 4vw;" text="{{'Atrás' | translate}}" defaultHref="/tabs/home/store/{{data.store.ID}}"></ion-back-button>
   </ion-buttons>
    <ion-title style="font-size: 4vw;">
      {{"Carrito" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cart">
<div class="spinner" *ngIf="!cart?.cart_contents"><ion-spinner> </ion-spinner></div>
<div *ngIf="cart.cart_contents?.length == 0" class="empty">
  <ion-icon name="basket" mode="md" style="font-size: 15vw;"></ion-icon>
  <br>
  <ion-label style="color:lightgray; font-size: 4vw;">{{"Su carrito está vacio" | translate}}</ion-label>
</div>

<div *ngIf="cart.cart_contents">
<div *ngIf="cart.cart_contents?.length != 0">
  <ion-item *ngFor="let item of cart.cart_contents | keys">
    <ion-thumbnail slot="start" (click)="getProduct(item.value.product_id)">
      <img src="{{item.value.thumb}}" [style.border-radius.px]="settings.dimensions.productBorderRadius">
    </ion-thumbnail>
    <ion-label class="name-label" style="font-size: 4vw;">
      <ion-text text-wrap class="clamp">{{item.value.name}}</ion-text>
      <p class="productText" *ngFor="let variation of item.value.variation | keys">{{variation.value}}</p>
      <p class="productText" >{{item.value.tax_price | currency:settings.currency:'symbol':'1.2-2'}} x {{item.value.quantity}}</p>
      <span class="productText" *ngIf="item.value.addons?.length">Addons</span>
      <span *ngFor="let items of item.value.addons">
        <p class="productText" >{{items.value}} {{items.price | currency:settings.currency:'symbol':'1.2-2'}}</p>
      </span>

      <span *ngIf="item.value.yith_wapo_options?.length">Addons</span>
      <span *ngFor="let items of item.value.yith_wapo_options; let i = index">
        <p class="productText" >{{items.value}} {{items.price | currency:settings.currency:'symbol':'1.2-2'}}</p>
      </span>

      <ion-grid style="padding: 0px" class="add-remove-button">
      <ion-row class="ion-align-items-start">
        <ion-col class="align-self-start">
          <ion-button color="{{settings.theme.button}}" fill="clear" (click)="deleteFromCart(item.value.product_id, item.key)">
              <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
          </ion-button> 
          <ion-button color="{{settings.theme.button}}" fill="clear" style="font-size: 3vw;" >{{item.value.quantity}}</ion-button> 
          <ion-button color="{{settings.theme.button}}" fill="clear" (click)="addToCart(item.value.product_id, item)">
              <ion-icon slot="icon-only" name="add-circle-outline">
              </ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
          <ion-button color="{{settings.theme.button}}" fill="clear" (click)="deleteItem(item.key, item.value.quantity)"><ion-icon name="trash" class="trash-icon"></ion-icon></ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    </ion-label>
    
  </ion-item>

  <ion-item lines="none">
    <ion-label>{{"Tengo un cupón" | translate}}</ion-label>
    <ion-checkbox color="danger" (click)="IhaveCouponClick()" slot="start"></ion-checkbox>
  </ion-item>
<form #f="ngForm" class="coupon" [hidden]="!IhaveCouponChecked" >
    <ion-item>
        <ion-input type="text" [(ngModel)]="cart.coupon" name="coupon" placeholder="{{'Ingrese el cupón aquí' | translate}}"> </ion-input>
        <h2 item-right> 
            <ion-button block color="{{settings.theme.button}}" style="font-size: 3vw;" type="submit" text-uppercase (click)="submitCoupon(cart.coupon)">{{"Aplicar" | translate}}
            </ion-button>
        </h2>
    </ion-item>
</form>

      <div class="redeem">

      <div *ngIf="cart && settings.reward > '0' " style="margin-bottom: 3px">
      <ion-item>
          <ion-label>{{"Complete este pedido y ganará" | translate}} <span style="font-size: 3vw; font-weight: 600">{{cart.purchase_point}}</span> {{"puntos" | translate}}, {{"que puede usar en futuros pedidos." | translate}}</ion-label>
      </ion-item>
      </div>

      <div *ngIf="settings.reward > '0' " style="padding: 10px 0;">
      <ion-item>
        <ion-label>{{"Usar" | translate}} <span style="font-size: 3vw; font-weight: 600">{{cart.points.points}}</span> {{"Puntos de recompensa por un" | translate}} <span style="font-size: 16px; font-weight: 600">{{cart.points.discount_available | currency:settings.currency:'symbol':'1.2-2'}}</span> {{"¡descuento en este pedido!" | translate}}
          <ion-button color="{{settings.theme.button}}" fill="solid" type="submit" text-uppercase small (click)="redeem()"> {{"Canjear puntos" | translate}}
          </ion-button> 
        </ion-label>
      </ion-item>

      
      </div>

  </div>

<!-- <ion-list lines="none">

  <ion-item>
    <ion-label>
     {{1*cart.cart_totals.subtotal + 1*cart.cart_totals.subtotal_tax | currency:settings.currency:'symbol':'1.2-2'}}
    </ion-label>
  </ion-item> 
  
  <ion-item>
    <ion-label>
     {{"Subtotal" | translate}} <span class="totals-amount">{{1*cart.cart_totals.subtotal | currency:settings.currency:'symbol':'1.2-2'}}</span>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      {{"Impuestos" | translate}} <span class="totals-amount">+ {{1*cart.cart_totals.subtotal_tax | currency:settings.currency:'symbol':'1.2-2'}}</span>
    </ion-label>
  </ion-item>

   <ion-item>
    <ion-label>
      {{"Impuestos" | translate}} <span class="totals-amount">+ {{1*cart.cart_totals.total_tax | currency:settings.currency:'symbol':'1.2-2'}}</span>
    </ion-label>
  </ion-item>

  <div *ngIf="cart.cart_totals.fee_total != 0">
    <ion-item *ngFor="let fee of cart.cart_fees | keys">
      <ion-label>
        {{fee.value.name}} <span class="totals-amount">+ {{1*fee.value.total | currency:settings.currency:'symbol':'1.2-2'}}</span>
      </ion-label>
    </ion-item>
  </div>
   <ion-item *ngFor="let coupon of cart.coupon_discount_totals | keys">
    <ion-label>
      {{"Cupón" | translate}} - {{coupon.key}} <ion-text (click)="removeCoupon(coupon.key)" color="{{settings.theme.button}}">(Remove)</ion-text><span class="totals-amount">-{{1*coupon.value | currency:settings.currency:'symbol':'1.2-2'}}</span>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="cart.cart_totals.discount_total != 0">
    <ion-label>
      {{"Descuenta" | translate}}<span class="totals-amount">-{{1*cart.cart_totals.discount_total | currency:settings.currency:'symbol':'1.2-2'}}</span>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="addonsTotal > 0">
    <ion-label>
      {{"Complementos total" | translate}}<span class="totals-amount">{{1*addonsTotal | currency:settings.currency:'symbol':'1.2-2'}}</span>
    </ion-label>
  </ion-item>  
   <ion-item>
    <ion-label>
      {{"Envío" | translate}} <span class="totals-amount">{{1*cart.cart_totals.shipping_total | currency:settings.currency:'symbol':'1.2-2'}}</span>
    </ion-label>
  </ion-item> 
   <ion-item>
    <ion-label class="grand-total">
      {{"Total sin envío" | translate}} <span class="totals-amount">{{1*cart.cart_totals.total | currency:settings.currency:'symbol':'1.2-2'}}</span>
    </ion-label>
  </ion-item> 
  <ion-item>
    <p style="font-size: 2vw;">El precio mostrado no incluye el envío. Proceda a continuación para elegir su envío</p>
  </ion-item>
</ion-list> -->


<div class="spinner" *ngIf="!orderReview">
    <div style="margin-bottom:25px;  text-align:center; color:#687e95; font-size: 4vw; font-weight: light;">{{"CARGANDO TOTALES..." | translate}}</div>
    <ion-spinner></ion-spinner>
  </div>


<div *ngIf="orderReview">

    <ion-list *ngIf="orderReview?.shipping">
      <ion-radio-group *ngFor="let package of orderReview.shipping" [(ngModel)]="package.chosen_method" (ngModelChange)="changeData()">
        <ion-list-header>
          <span [innerHTML]="package.package_name" style=" color:grey; text-transform: uppercase;"></span>
        </ion-list-header>
        <ion-item *ngIf="isEmptyObject(package.shipping)">
          <ion-label color="dark" ><p>{{"NO HAY ENVÍO DESPONIBLE" | translate}}</p></ion-label>
        </ion-item>
        <ion-item *ngFor="let method of package.shipping | keys">
          <ion-radio slot="start" mode="md" color="{{settings.theme.button}}" value="{{method.value.id}}"></ion-radio>
          <ion-label color="dark"  class="ion-text-wrap"><span [innerHTML]="method.value.label"></span></ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  
    <ion-list *ngIf="orderReview?.payment">
      <ion-radio-group [(ngModel)]="checkoutData.form.payment_method" (ngModelChange)="changeData()">
        <ion-list-header style=" color:grey">
          {{"MÉTODO DE PAGO" | translate}}
        </ion-list-header>
        <ion-item *ngFor="let method of orderReview.payment | keys">
          <ion-radio slot="start" mode="md" color="{{settings.theme.button}}" value="{{method.value.id}}"></ion-radio>
          <ion-label  color="dark"  class="ion-text-wrap"><span [innerHTML]="method.value.title"></span></ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  
      <div *ngIf="cardResponse?.cardNumber && checkoutData.form.payment_method == 'stripe'">
          <ion-card mode="md" *ngIf="cardResponse.cardNumber && checkoutData.form.payment_method == 'stripe'">
              <ion-item *ngIf="cardResponse.cardNumber">
                <ion-label text-wrap color="medium" >
                  <ion-text>
                    <h3>{{"NÚMERO DE TARJETA" | translate}}</h3>
                  </ion-text>
                  <p>{{cardResponse.cardNumber}}</p>
                </ion-label>
              </ion-item>
  
                <ion-item>
                <ion-label text-wrap color="medium" >
                  <ion-text>
                    <h3>{{"FECHA DE CADUCIDAD" | translate}}</h3>
                  </ion-text>
                  <p>{{cardResponse.expiryMonth}}/{{cardResponse.expiryYear}}</p>
                </ion-label>
              </ion-item>
  
                <ion-item>
                <ion-label text-wrap color="medium" >
                  <ion-text>
                    <h3>{{"CVV" | translate}}</h3>
                  </ion-text>
                  <p>{{cardResponse.cvv}}</p>
                </ion-label>
              </ion-item>
            </ion-card>
      </div>
  
        <div *ngIf="checkoutData.form.payment_method =='authnet'" class="card-payment">
            <form #f="ngForm">
                <ion-list no-margin>
                    <ion-item class="side-heading-background">
                        <ion-label color="side-heading-color">Detalles de tarjeta </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">{{"Número de tarjeta" | translate}} </ion-label>
                        <ion-input required type="text" [(ngModel)]="checkoutData.form['authnet-card-number']" name="stripe_number"> </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">{{"Meses de vencimiento" | translate}} (MM) </ion-label>
                        <ion-input required type="text" [(ngModel)]="checkoutData.form.expiryMonth" name="stripe_exp_year"> </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">{{"Año de vencimiento" |translate}} (YY) </ion-label>
                        <ion-input required type="text" [(ngModel)]="checkoutData.form.expiryYear" name="stripe_exp_year"> </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">{{"Código de tarjeta" | translate}} </ion-label>
                        <ion-input required type="text" [(ngModel)]="checkoutData.form['authnet-card-cvc']" name="stripe_code"> </ion-input>
                    </ion-item>
                </ion-list>
            </form>
        </div>
  
        <!-- <ion-item style="padding-top: 16px;" lines="none" *ngIf="checkoutData.form.payment_method =='stripe'">
          <ion-label color="medium" >{{"USE UNA NUEVA TARGETA" | translate}}</ion-label>
          <ion-checkbox color="{{settings.theme.button}}" [(ngModel)]="checkoutData.form.card" (ngModelChange)="onUseNewCard()" slot="end"></ion-checkbox>
        </ion-item> -->
  
        <div *ngIf="checkoutData.form.payment_method =='stripe'" class="stripe-payment">
          <form action="/charge" method="post" id="payment-form">
            <div class="form-row">
  
              <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
              </div>
  
              <!-- Used to display form errors. -->
              <div id="card-errors" class="card-error" role="alert"></div>
            </div>
          </form>
        </div>
  
        <!--div *ngIf="checkoutData.form.payment_method =='stripe'" class="card-payment">
            <form #f="ngForm">
                <ion-list no-margin>
                    <ion-item class="side-heading-background">
                        <ion-label color="side-heading-color">Card Details </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">{{"Card Number" | translate}} </ion-label>
                        <ion-input required type="text" [(ngModel)]="checkoutData.form.stripe_number" name="stripe_number"> </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">{{"Expiry Month" | translate}} (MM) </ion-label>
                        <ion-input required type="text" [(ngModel)]="checkoutData.form.stripe_exp_month" name="stripe_exp_year"> </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">{{"Expiry Year" |translate}} (YYYY) </ion-label>
                        <ion-input required type="text" [(ngModel)]="checkoutData.form.stripe_exp_year" name="stripe_exp_year"> </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">{{"Card Code" | translate}} </ion-label>
                        <ion-input required type="text" [(ngModel)]="checkoutData.form.stripe_code" name="stripe_code"> </ion-input>
                    </ion-item>
                </ion-list>
            </form>
        </div-->
  
        <!--ion-row class="check-box-bottom" style="margin-top:0" *ngIf="form.show_terms">
          <ion-col no-lines class="col1">
              <ion-checkbox checked="true" [(ngModel)]="form.terms" name="terms"> </ion-checkbox>
          </ion-col>
          <ion-col class="col2">
              <ion-label>{{"I Agree" | translate}} <a  (click)="terms()">{{"Terms & Conditions" | translate}}</a> </ion-label>
          </ion-col>
        </ion-row-->
    <ion-item *ngIf="orderReview.payment[checkoutData.form.payment_method]?.description" lines="none">
      <ion-label class="ion-text-wrap payment-description" style=" color:grey"> 
      <span [innerHTML]="orderReview.payment[checkoutData.form.payment_method]?.description"></span>
      </ion-label>
    </ion-item>
  
    <div class="spinner" *ngIf="changingData">
      <div style="margin-bottom:25px;  text-align:center; color:#687e95; font-size: 4vw; font-weight: light;">{{"CARGANDO TOTALES..." | translate}}</div>
      <ion-spinner></ion-spinner>
    </div>
  
    <ion-list *ngIf="orderReview?.totals && !changingData">
      <ion-list-header style=" color:grey">
        {{"TOTALES" | translate}}
      </ion-list-header>
      <ion-item>
        <ion-label color="dark" class="ion-text-wrap">{{"Subtotal"}}<span style="float: right">{{orderReview.totals.subtotal}}</span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="dark" class="ion-text-wrap">{{"Impuesto"}}<span style="float: right">{{orderReview.totals.total_tax}}</span>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let fee of orderReview.fees | keys">
        <ion-label color="dark" class="ion-text-wrap">{{fee.value.name}}<span style="float: right">{{fee.value.total}}</span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="dark" class="ion-text-wrap">{{"Total"}}<span style="float: right">{{orderReview.totals.total}}</span>
        </ion-label>
      </ion-item>
    </ion-list>

    </div>

<ion-button *ngIf="orderReview && !changingData" color="{{settings.theme.button}}" expand="block" fill="solid" (click)="checkout()" style="margin: 16px; font-size: 3vw">{{"Continuar" | translate}}</ion-button>
</div>
</div>
<!-- <ion-button color="{{settings.theme.button}}" expand="block" fill="solid" (click)="checkout()" style="margin: 16px;">{{"Continuar" | translate}}</ion-button> -->
</ion-content>
