<ion-header mode="ios" mode='ios'>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="close(false)">
      <ion-back-button text="{{'' | translate}}" style="--color:black; font-size: 3vw;margin-left: 20px;" size="small" defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 3vw">{{"Registrar" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- Top header image. uncomment if not using background image in scss file -->
  <!-- <div style="height: 80%; margin-top: 10px; padding-bottom: 0; margin-bottom: 0;">
    <img src="assets/image/logo.png">
  </div> -->

<!-- Login Form 1 -->
<div style="text-align: center;height: 25%; margin-bottom: 20px;">
  <img src="assets/image/logo.png" style="height: 100%;">
</div>

<div class="login1" style="margin-top: 0">

<div class="form"> 

<ion-list>
  <form [formGroup]="form">
    
  <ion-label for="first_name" mode="ios" color="medium" style="font-size: 3vw;">NOMBRE</ion-label>
  <ion-item style="margin: -5px 0 15px 0">
  <ion-input required type="text" formControlName="first_name" style="font-size: 3vw;"></ion-input>
  </ion-item>
  <ion-label for="last_name" mode="ios" color="medium" style="font-size: 3vw;">APELLIDOS</ion-label>
  <ion-item style="margin: -5px 0 15px 0">
  <ion-input required type="text" formControlName="last_name" style="font-size: 3vw;"></ion-input>
  </ion-item>
  <ion-label for="phone" mode="ios" color="medium" style="font-size: 3vw;">TELEFONO</ion-label>
  <ion-item style="margin: -5px 0 15px 0">
  <ion-input type="text" formControlName="phone" style="font-size: 3vw;"></ion-input>
  </ion-item>
  <ion-label for="email" mode="ios" color="medium" style="font-size: 3vw;">EMAIL</ion-label>
  <ion-item style="margin: -5px 0 15px 0">
  <ion-input required type="email" formControlName="email" style="font-size: 3vw;"></ion-input>
  </ion-item>
  <ion-label for="password" mode="ios" color="medium" style="font-size: 3vw;">CONTRASEÑA</ion-label>
  <ion-item style="margin: -5px 0 15px 0">
  <ion-input required type="password" formControlName="password" style="font-size: 3vw;"></ion-input>
  </ion-item>
</form>
</ion-list>
 <ion-button color="danger" expand="block" style="font-size: 3vw;" fill="solid" [disabled]="!form.valid || disableSubmit" (click)="onSubmit()">{{"REGISTRAR" | translate}}</ion-button>
<div class="errors" *ngIf="errors">
  <div *ngFor="let error of errors | keys" style="text-align: center; padding-top: 20px;">
    <ion-label color="danger" class="error" [innerHTML]="error.value"></ion-label>
  </div>
 </div>

</div>
</div> 
</ion-content>
