<ion-header mode='ios'>
    <ion-toolbar>
      <ion-title>{{"Pedido exitoso" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content class="order">

    <ion-icon name="checkmark-circle-outline" style="font-size:100px; width: 100%; margin: auto; margin-top: 20px;" color="success"></ion-icon>
        <div style="color: #687e95; text-align: center; margin-top:20px; width: 70%; margin:auto;">
        {{"Su pedido se ha realizado correctamente." | translate}}
        </div>
        <div style="color: #687e95; text-align: center; margin-top:20px; width: 70%; margin:auto; margin-top: 20px;">
            {{"Por favor, revise su correo electrónico y notificaciones en la app para coordinar la entrega." | translate}}
        </div>
</ion-content>
  