ion-toolbar {
    --border-width: 0 0 0px;
    --background: transparent;
    position: absolute;
    --opacity: 0;
}
.logo-block {
    height: 200px;
    //background: var(--ion-color-success, #fff);
    overflow: hidden;
    ion-col {
        text-align: center;
        font-size: 24px;
        color: darkblue;
        opacity: 0.05;
    }
    .logo {
        left: 0;
        right: 0;
        top: 65px;
        width: 30%;
        max-width: 120px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
    }
}
.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px;
    --background: transparent;
}
.header-logo {
    height: 150px;
}
.login1 {
    margin-top: 60px;
    ion-card {
        box-shadow: none;
        margin-left: 24px;
        margin-right: 24px;
    }
    ion-button {
        //margin: 0;
        margin-top: 24px;
    }
    ion-fab-button {
        margin: auto;
        border-radius: 50%;
        --box-shadow: none;
        border: 0.02px solid #2798fb;
        margin: auto;
        --box-shadow: none;
    }
}
.socila-login {
    padding: 19px;
    padding-top: 0;
    ion-button {
        margin-top: 0;
    }
}
ion-segment {
    border-radius: 0;
    //position: fixed;
}
.login-register {
    margin: 32px;
    margin-top: 56px;
    .login {
        border: 0.55px solid var(--ion-color-light, #fff);
        border-width: 0.55px 0.55px 0.55px 0.55px;
        border-radius: 2px;
        ion-item {
            --border-color: var(--ion-color-light, #fff);
        }
    }
}
ion-content {
    ion-label {
        @media screen and (min-width: 540px) {
            font-size: 3vw;
        }
        color:white;
    }
    ion-input {
        @media screen and (min-width: 540px) {
            font-size: 3vw;
        }
    }
    ion-select {
        @media screen and (min-width: 540px) {
            font-size: 3vw;
        }
    }
    ion-select-option {
        @media screen and (min-width: 540px) {
            font-size: 3vw;
        }
    }
    ion-textarea {
        @media screen and (min-width: 540px) {
            font-size: 3vw;
        }
    }
    ion-datetime {
        @media screen and (min-width: 540px) {
            font-size: 3vw;
        }
    }
    ion-toggle {
        @media screen and (min-width: 540px) {
            font-size: 3vw;
        }
    }
    ion-card-subtitle {
        @media screen and (min-width: 540px) {
            font-size: 3vw;
        }
    }
    ion-item {
        @media screen and (min-width: 540px) {
            font-size: 3vw;
        }
    }
    span {
        @media screen and (min-width: 540px) {
            font-size: 3vw;
        }
    }
    div {
        @media screen and (min-width: 540px) {
            font-size: 3vw;
        }
    }
    p {
        @media screen and (min-width: 540px) {
            font-size: 3vw;
        }
    }
    ion-button {
        @media screen and (min-width: 540px) {
            font-size: 3vw;
        }
    }
}
.error{
    color: red !important;
}
::ng-deep {
    ion-modal {
        .modal-wrapper.ion-overlay-wrapper.sc-ion-modal-ios {
            @media screen and (min-width: 540px) {
                width: 80%;
                height: 80%;
            }
        }
        .modal-wrapper.ion-overlay-wrapper.sc-ion-modal-md {
            @media screen and (min-width: 540px) {
                width: 80%;
                height: 80%;
            }
        }
    }
}