<ion-header mode="ios">
  <ion-toolbar>
  <ion-buttons slot="start" (click)="close(false)">
      <ion-back-button text="{{'' | translate}}" style="--color:black; font-size: 3vw; margin-left: 20px;" size="small" defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 3vw;">{{"LOGIN" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" style="width: 100%;">
    <div class="logo-block" style="text-align: center; height: 25%;">
    <!-- <ion-grid>
      <ion-row class="ion-align-items-center">
      <ion-col *ngFor="let item of icons; let i = index" size="2" size-md="2" class="ion-align-self-center">
        <ion-icon *ngIf="i % 2" name="heart-outline"></ion-icon>
        <ion-icon *ngIf="!(i % 2)" name="star-outline"></ion-icon>
      </ion-col>
      </ion-row>
      <img class="logo" src="assets/image/logo.png">
    </ion-grid> -->
    <img src="assets/image/logo.png" style="height:100%">
    </div>
    <ion-segment scrollable="true" mode="md" color="secondary" value="{{segment}}" (ionChange)="segmentChanged($event)" style="width:100%">
      <ion-segment-button color="secondary" value="login" style="margin: auto">
        <ion-label >{{"Login"| translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button color="secondary" value="register" style="margin: auto">
        <ion-label >{{"Registrar"| translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="login1">
      <ion-card mode="{{settings.settings.mode}}">
      <div class="form" *ngIf="segment == 'login'">
            <ion-list>
            <form [formGroup]="form">
              <ion-item mode="md" style="margin-top: 5%;">
              <ion-icon slot="start" name="person" mode="md"></ion-icon>
              <ion-input type="text" formControlName="username"  placeholder="{{'Email/Nombre de usario' | translate}}"></ion-input>
              </ion-item>
              <ion-item mode="md" style="margin-top: 5%; margin-bottom: 5%;">
              <ion-icon slot="start" name="eye" mode="md"></ion-icon>
              <ion-input type="password" formControlName="password"  placeholder="{{'Contraseña' | translate}}"></ion-input>
              </ion-item>
             </form>
            </ion-list>
            <ion-button color="danger" expand="block"  fill="solid" [disabled]="disableSubmit" (click)="onSubmit()">{{"LOGIN" | translate}}</ion-button>
            <ion-button style="margin-top: 0px;" color="dark" expand="full" fill="clear" (click)="forgotton()" style="margin-top: 10%;">{{"Se te olvidó tu contraseña"| translate}}?</ion-button>
            <div class="errors" *ngIf="errors">
              <div *ngFor="let error of errors | keys" style="text-align: center; padding-top: 10px;">
                <ion-label color="danger" [innerHTML]="error.value"></ion-label>
              </div>
            </div>
      </div>



      <div class="form" *ngIf="segment == 'register'">
        <ion-list>
          <form [formGroup]="formRegister">
            
          <ion-label for="first_name" mode="ios" color="medium" >NOMBRE</ion-label>
          <ion-item style="margin: 0 0 15px 0">
          <ion-input required type="text" formControlName="first_name" ></ion-input>
          </ion-item>
          <ion-label for="last_name" mode="ios" color="medium" >APELLIDOS</ion-label>
          <ion-item style="margin: 0 0 15px 0">
          <ion-input required type="text" formControlName="last_name" ></ion-input>
          </ion-item>
          <ion-label for="phone" mode="ios" color="medium" >TELEFONO</ion-label>
          <ion-item style="margin: 0 0 15px 0">
          <ion-input type="text" formControlName="phone" ></ion-input>
          </ion-item>
          <ion-label for="email" mode="ios" color="medium" >EMAIL</ion-label>
          <ion-item style="margin: 0 0 15px 0">
          <ion-input required type="email" formControlName="email" ></ion-input>
          </ion-item>
          <ion-label for="password" mode="ios" color="medium" >CONTRASEÑA</ion-label>
          <ion-item style="margin: 0 0 15px 0">
          <ion-input required type="password" formControlName="password" ></ion-input>
          </ion-item>
          
        </form>
        </ion-list>
        <ion-button color="danger" expand="block"  fill="solid" [disabled]="disableSubmit" (click)="onSubmit()">{{"REGISTRAR" | translate}}</ion-button>

        <div class="errors" *ngIf="errorsRegister">
          <div *ngFor="let error of errorsRegister | keys" style="text-align: center; padding-top: 20px;">
            <ion-label color="danger" class="error" [innerHTML]="error.value"></ion-label>
          </div>
         </div>

      </div>


      </ion-card>

          <ion-grid class="socila-login" style="margin-top:10%">
            <ion-row>
              <ion-col size="6" style="text-align:center;">
                <ion-button mode="md" shape="undefined" fill="solid" style="--border-radius:50px 50px 50px 50px; --background:#b80000; --box-shadow:0;" (click)="googleLogin()" [disabled]="googleLogingInn">
                <ion-icon slot="start" name="logo-google"></ion-icon>{{"Google"| translate}}</ion-button>
                <br/>
              </ion-col>
              <ion-col size="6" style="text-align:center;">
                <ion-button shape="undefined" mode="md" fill="solid" style="--border-radius:50px 50px 50px 50px; --background:#2b3f5a; --box-shadow:0;" (click)="facebookLogin()" [disabled]="facebookLogingInn">
                <ion-icon slot="start" name="logo-facebook"></ion-icon>{{"Facebook"| translate}}</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- <ion-grid class="socila-login">
            <ion-row>
            <ion-col size="6">
            <ion-button expand="full" shape="undefined" mode="md" fill="solid" color="google" [disabled]="googleLogingInn">
            <ion-icon slot="start" name="logo-google"></ion-icon>{{"Google"| translate}}</ion-button>
            <br/>
            </ion-col>
            <ion-col size="6">
            <ion-button expand="full" shape="undefined" mode="md" fill="solid" color="facebook" [disabled]="facebookLogingInn">
            <ion-icon slot="start" name="logo-facebook"></ion-icon>{{"Facebook"| translate}}</ion-button>
            </ion-col>
            </ion-row>
          </ion-grid> -->
    </div>



</ion-content>
