<ion-header mode='ios' >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'Atrás' | translate}}" defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="post?.post_title">
      {{post.post_title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="post.post">
<div class="spinner" *ngIf="!post.post"><ion-spinner> </ion-spinner></div>
<div *ngIf="post.post">
<ion-card>
  <div *ngIf="post.post._embedded && post.post._embedded['wp:featuredmedia'] && post.post._embedded['wp:featuredmedia'].length">
    <ion-img alt="" src="{{post.post._embedded['wp:featuredmedia'][0].source_url}}"></ion-img>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{post.post.date | datepipe}}</ion-card-subtitle>
    <ion-card-title>{{post.post.title.rendered}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [innerHTML]="post.post.content.rendered">
  </ion-card-content>
</ion-card>
</div>
</ion-content>
