<ion-header mode='ios' >
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button text="{{'Atrás' | translate}}" style="font-weight:lighter;font-size: 4vw;" defaultHref="/tabs/home"></ion-back-button>
  </ion-buttons>
  <div *ngIf="settings.settings.location_filter == 1">
    <ion-chip color="primary" *ngIf="api.userLocation.latitude" (click)="getLocation()">
      <ion-label>{{api.userLocation.address}}</ion-label>
      <ion-icon name="location-outline"></ion-icon>
    </ion-chip>
    <ion-chip color="primary" *ngIf="!api.userLocation.latitude" (click)="getLocation()">
      <ion-label>{{"Elige su dirección" | translate}}</ion-label>
      <ion-icon name="location-outline"></ion-icon>
    </ion-chip>
  </div>

    <ion-title style="font-size: 4vw; font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" *ngIf="settings.settings.location_filter == undefined || settings.settings.location_filter == 0 && data.storeCategory" class="logo-title delbarrio-header">
       {{data.storeCategory.displayName}}
      <!--img src="assets/image/logo.png" style="width: 50px;height: auto;"-->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" *ngIf="settings.settings?.pull_to_refresh">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="spinner" *ngIf="data.storesNearby.length == 0 && loadingStoresNearby">
      <div style="margin-bottom:25px;  text-align:center; color:#687e95; font-size: 4vw; font-weight: light;">{{"CARGANDO LAS TIENDAS CERCA DE USTED..." | translate}}</div>
      <ion-spinner style="--width: 5%; font-size: 5vw;" ></ion-spinner>
    </div>

  <div class="basic-wrapper" id="basic-wrapper" *ngIf="data.blocks?.settings && !loading && (data.blocks.recentProducts.length || data.blocks.categories.length) && (data.blocks.settings.location_filter == undefined || data.blocks.settings.location_filter == 0 || (data.blocks.settings.location_filter == 1 && api.userLocation.latitude != 0))">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="settings.settings?.enable_home_chat">
      <a href="https://wa.me/{{settings.settings?.whatsapp_number}}">
          <ion-fab-button size="small" color="whatsapp">
              <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
      </a>
  </ion-fab>

  <div *ngIf="data.storesNearby.length >= 1" class="nearby-stores">
    <ion-list-header style="margin:auto; margin-bottom: 7%; margin-top: 5%; text-align:center; color:#687e95; font-size:5vw; font-weight: light; font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
      <ion-label>{{"TIENDAS CERCA DE USTED" | translate}}</ion-label>
    </ion-list-header>
    <div *ngFor="let store of data.storesNearby" id="nearby-stores-wrapping-div">
      <ion-card (click)="getStore(store)" id="nearby-stores-card" style="margin: auto;color:white; text-align: center;box-shadow: 0px 0px;">
        <ion-card-content id="nearby-stores-card-content" style="background-image: url(../../assets/image/fondo-tiendas.png);background-repeat: no-repeat;background-position: center; background-size: 100% 100%; text-align: center; position: relative; border-radius: 6px; ">
          <div style="position: absolute; top:35%; right:10%; left: 10%">
            <h1 *ngIf="store.post_title" style="font-size: 5vw;">{{store.post_title}}</h1>
            <span *ngIf="store.wordpress_store_locator_city" style="font-size: 3vw; font-weight:100;font-weight: light;">{{store.wordpress_store_locator_city}}</span>
            <span *ngIf="store.wordpress_store_locator_city && store.wordpress_store_locator_zip" style="font-size: 3vw;">, </span>
            <span *ngIf="store.wordpress_store_locator_zip" style="font-size: 3vw; font-weight:100;font-weight: light;">{{store.wordpress_store_locator_zip}}</span>
            <h1 *ngIf="store.na" style="font-size: 5vw;">{{store.na}}</h1>
            <span *ngIf="store.ct" style="font-size: 3vw; font-weight:100;font-weight: light;">{{store.ct}}</span>
            <span *ngIf="store.ct && store.zp" style="font-size: 3vw;">, </span>
            <span *ngIf="store.zp" style="font-size: 3vw; font-weight:100;font-weight: light;">{{store.zp}}</span>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-row *ngIf="data.storesNearby.length == 0 && !loadingStoresNearby" class="products" style="margin-top: 5%;">
    <!--  -->
    <ion-list-header style="margin:auto; text-align:center; color:#687e95; font-size:5vw; font-weight: light;">
      <ion-label>{{"LO SENTIMOS, NO HAY TIENDAS CERCA DE " + api.userLocation.distance + " KM DE USTED" | translate}}</ion-label>
    </ion-list-header>
    <ion-list [hidden]="settings.clientDataSent" style="margin: auto; margin-top: 40px; text-align: center;">
      <form [formGroup]="form" style="width: 70%; text-align: center; margin: auto;"> 
      <div style="color:#687e95; font-size:5vw; font-weight: light; margin-bottom: 10%;">
        <ion-label>{{"Déjanos tu información, para avisarte cuando abran" | translate}}</ion-label>
      </div>
      <ion-label for="name" mode="ios" color="medium" style="font-size:3vw; margin-bottom: 10%;">NOMBRE</ion-label>
      <ion-item style="margin: 0 0 10% 0;   
      --border-color: var(--ion-color-medium-shade);
      --border-radius: 50px;
      --border-width: 1px;
      --highlight-height: 0;
      --background: #f8f9fa;">
      <ion-input type="text" formControlName="name" clearInput="true"></ion-input>
      </ion-item>
      <ion-label for="phone" mode="ios" color="medium" style="font-size:3vw; margin-bottom: 10%;">TELEFONO</ion-label>
      <ion-item style="margin: 0 0 10% 0;   
      --border-color: var(--ion-color-medium-shade);
      --border-radius: 50px;
      --border-width: 1px;
      --highlight-height: 0;
      --background: #f8f9fa;">
      <ion-input type="number" formControlName="phone" clearInput="true"></ion-input>
      </ion-item>
      <ion-label for="email" mode="ios" color="medium" style="font-size:3vw; margin-bottom: 10%;">EMAIL</ion-label>
      <ion-item style="margin: 0 0 10% 0;   
      --border-color: var(--ion-color-medium-shade);
      --border-radius: 50px;
      --border-width: 1px;
      --highlight-height: 0;
      --background: #f8f9fa;">
      <ion-input type="email" formControlName="email" clearInput="true"></ion-input>
      </ion-item>        
      </form>
      <ion-item lines="none" *ngIf="errorMessage" style="width: 70%;">
        <span style="color: red;">{{errorMessage}}</span>
      </ion-item>
      <ion-button color="tertiary" style="--border-radius:50px 50px 50px 50px; margin-top:40px; width: 70%; font-size: 3vw;" mode="md" fill="solid" (click)="onSubmit()">{{"ENVIAR" | translate}}</ion-button> <!--color="{{settings.theme.button}}"-->
    </ion-list>
    <ion-list [hidden]="!settings.clientDataSent" style="margin: auto; margin-top: 40px; text-align: center;">
      <ion-item lines="none" style="width: 250px;">
        <img src="./../../assets/image/icons8-checkmark-yes-96.png" style="margin-right:10px; height: 30%;"/>
        <p>{{"Te notificamos cuando abre una tienda cercana" | translate}}</p>
      </ion-item>
    </ion-list>
  </ion-row>

  <div class="spinner" *ngIf="data.allStores.length == 0 && loadingAllStores && !loadingStoresNearby">
    <div style="margin-bottom:25px; text-align:center; color:#687e95; font-size:4vw; font-weight: light;">{{"CARGANDO TODAS LAS TIENDAS" | translate}}</div>
    <ion-spinner></ion-spinner>
  </div>


  <div *ngIf="data.allStores.length >= 1" class="all-stores" style="margin-top: 5%; margin-bottom: 5%;">
    <ion-list-header style="margin:auto; margin-bottom: 7% ; text-align:center; color:#687e95; font-size:5vw; font-weight: light;">
      <ion-label>{{"TODAS LAS TIENDAS" | translate}}</ion-label>
    </ion-list-header>
    <div *ngFor="let store of data.allStores" id="all-stores-wrapping-div">
      <ion-card (click)="getStore(store)" id="all-stores-card" style="margin: auto;margin:auto; border-radius: 15px; color:white; text-align: center;box-shadow: 0px 0px;">
        <ion-card-content id="all-stores-card-content" style="background-image: url(../../assets/image/fondo-tiendas.png);background-repeat: no-repeat;background-position: center; background-size: 100% 100%; text-align: center; position: relative;"> <!--background-color: #62788d;--> 
          <div style="position: absolute; top:35%; right:10%; left: 10%">
            <h1 *ngIf="store.post_title" style="font-size: 5vw;">{{store.post_title}}</h1>
            <span *ngIf="store.wordpress_store_locator_city" style="font-size: 3vw; font-weight:100;font-weight: light;">{{store.wordpress_store_locator_city}}</span>
            <span *ngIf="store.wordpress_store_locator_city && store.wordpress_store_locator_zip" style="font-size: 3vw;">, </span>
            <span *ngIf="store.wordpress_store_locator_zip" style="font-size: 3vw; font-weight:100;font-weight: light;">{{store.wordpress_store_locator_zip}}</span>
            <h1 *ngIf="store.na" style="font-size: 5vw;">{{store.na}}</h1>
            <span *ngIf="store.ct" style="font-size: 3vw; font-weight:100;font-weight: light;">{{store.ct}}</span>
            <span *ngIf="store.ct && store.zp" style="font-size: 3vw;">, </span>
            <span *ngIf="store.zp" style="font-size: 3vw; font-weight:100;font-weight: light;">{{store.zp}}</span>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-infinite-scroll threshold="100px" *ngIf="hasMoreItems && data.products?.length" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</div>

    <div class="no-service" *ngIf="!loading && settings.settings && settings.settings.location_filter == 1">
      <ion-label *ngIf="api.userLocation.latitude != 0 && (!data.blocks.recentProducts.length && !data.blocks.categories.length)">
        <ion-icon color="medium" name="location-outline"></ion-icon>
        <h2>Sorry, Service is not available in your city. we will be there soon!</h2>
        <ion-button mode="md" color="{{settings.theme.button}}" expand="block" fill="solid" (click)="getLocation()">{{"Address" | translate}}</ion-button>
      </ion-label>

      <ion-label *ngIf="api.userLocation.latitude == 0">
        <ion-icon color="medium" name="location-outline"></ion-icon>
        <h2>Please choose your address!</h2>
        <ion-button mode="md" color="{{settings.theme.button}}" expand="block" fill="solid" (click)="getLocation()">{{"Address" | translate}}</ion-button>
      </ion-label>
    </div>
  
</ion-content>
