<ion-header mode='ios'>

</ion-header>
<ion-content>
  <ion-title style="height: 10%;margin-top: 10%; font-size:5vw;font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"  *ngIf="settings.settings.location_filter == undefined || settings.settings.location_filter == 0" class="logo-title delbarrio-header">
    {{"DEL BARRIO" | translate}}
  </ion-title>
  <div class="spinner" *ngIf="loading">
    <div style="margin-bottom:25px;  text-align:center; color:#687e95; font-size: 4vw; font-weight: light;">{{"CARGANDO LOS SERVICIOS" | translate}}</div>
    <ion-spinner style="--width: 5%; font-size: 5vw;" ></ion-spinner>
  </div>
  <!-- <ion-searchbar mode="ios" animated searchIcon="undefined" style="width:80%; margin:auto;--placeholder-color: #5a6b7d;" [(ngModel)]="searchInput" (ionChange)="onInput()" placeholder="{{'¿Qué necesitas?' | translate}}"></ion-searchbar> -->
  <div style="text-align:center; height: 80%;" class="main-wrapper" *ngIf="!loading">
    <div style="height:10%; margin-bottom:5%; text-align: center;">
      <ion-label style="height:100%;width:100%; font-size:4.5vw; font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color:#687e93;">{{"¿Qué necesitas?" | translate}}</ion-label>
    </div>
    <div *ngFor="let storeCat of stores" (click)="getStoreCategory(storeCat)" style="text-align: center;height: 30%;">
      <img src="{{storeCat.icon.url}}" alt="{{storeCat.name}}" style="height: 70%;">
    </div>
  </div>
</ion-content>
