<ion-header mode='ios'>
  <!-- <ion-toolbar> -->
    <div *ngIf="settings.settings.location_filter == 1">
      <ion-chip color="primary" *ngIf="api.userLocation.latitude" (click)="getLocation()">
        <ion-label>{{api.userLocation.address}}</ion-label>
        <ion-icon name="location-outline"></ion-icon>
      </ion-chip>
      <ion-chip color="primary" *ngIf="!api.userLocation.latitude" (click)="getLocation()">
        <ion-label>{{"Select your address" | translate}}</ion-label>
        <ion-icon name="location-outline"></ion-icon>
      </ion-chip>
    </div>   
  <!-- </ion-toolbar> -->
</ion-header>
<ion-content> 
  <ion-title style="font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"  *ngIf="settings.settings.location_filter == undefined || settings.settings.location_filter == 0" style="margin-top: 25px;" class="logo-title delbarrio-header">
    {{"DEL BARRIO" | translate}}
  </ion-title>
  <!-- <ion-searchbar mode="ios" animated searchIcon="undefined" style="width:80%; margin:auto;--placeholder-color: #5a6b7d;" [(ngModel)]="searchInput" (ionChange)="onInput()" placeholder="{{'¿Qué necesitas?' | translate}}"></ion-searchbar> -->
  <div style="margin-top:80px">
    <div *ngFor="let storeCat of stores" (click)="getStoreCategory(storeCat)" style="margin-top:40px; text-align: center;">
      <img src="{{storeCat.icon.url}}" alt="{{storeCat.name}}" style="height: 50%;">
    </div>
  </div>
</ion-content>