<ion-header mode="ios">
    <!-- <ion-toolbar>      
      <ion-title>{{"Cuenta" | translate}}</ion-title>
    </ion-toolbar> -->
    <!--ion-grid class="my-account-header">
        <ion-row>
            <ion-col>
                <ion-item style="margin-bottom: 5%;"color="transperant" lines="none">
                    <ion-icon class="icon-header-icon ion-margin-end" name="person" slot="start"></ion-icon>
                    <ion-label class="account-name">{{"Account" | translate}}</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="header-menus" justify-content-between="">
            <ion-col>
                <ion-item style="margin-bottom: 5%;"color="transperant" lines="none" (click)="goTo('tabs/account/wishlist')" *ngIf="settings.customer?.id" class="ion-activatable">
                    <ion-icon class="ion-margin-end" name="heart" slot="start"></ion-icon>
                    <ion-label style="font-size: 4vw; margin-left: 5%">{{"Wishlist" | translate}}</ion-label>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item style="margin-bottom: 5%;"color="transperant" lines="none" (click)="goTo('tabs/account/wallet')" *ngIf="settings.customer?.id && settings.settings?.enable_wallet" class="ion-activatable">
                    <ion-icon class="ion-margin-end" name="wallet" slot="start"></ion-icon>
                    <ion-label style="font-size: 4vw; margin-left: 5%">{{"Wallet" | translate}}</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid-->
</ion-header>
<ion-content>
  <div style="text-align: center;height: 25%">
    <img class="logo" src="assets/image/logo.png" style="height: 100%">
  </div>
      <!-- <ion-header mode="ios" collapse="condense">              
        <ion-toolbar>      
          <ion-title size="large">{{"Cuenta" | translate}}</ion-title>
        </ion-toolbar>
      </ion-header> -->

      <div *ngIf="!settings.user && !settings.customer.id" aria-label="Login or register page">
        <ion-list-header style="margin-bottom: 9%;">
          <ion-label class="delbarrio-header" style="font-weight: 100; font-size: 7vw;">{{"Continuar con" | translate}}</ion-label>
        </ion-list-header>
        <ion-grid class="socila-login">
          <ion-row>
            <ion-col size="12" style="text-align:center;">
              <ion-button mode="md" shape="undefined" fill="solid" style="font-size: 4vw;--border-radius:50px 50px 50px 50px; width:55%; height: 100%; --background:#b80000; --box-shadow:0;" (click)="googleLogin()" [disabled]="googleLogingInn">
              <ion-icon slot="start" name="logo-google"></ion-icon>{{"Google"| translate}}</ion-button>
              <br/>
            </ion-col>
            <ion-col size="12" style="text-align:center; margin-top: 10%;">
              <ion-button shape="undefined" mode="md" fill="solid" style="font-size: 4vw;--border-radius:50px 50px 50px 50px; width:55%; height: 100%; --background:#2b3f5a; --box-shadow:0;" (click)="facebookLogin()" [disabled]="facebookLogingInn">
              <ion-icon slot="start" name="logo-facebook"></ion-icon>{{"Facebook"| translate}}</ion-button>
            </ion-col>
            <ion-col size="12" style="text-align:center; margin-top: 10%;">
              <ion-button shape="undefined" mode="md" fill="clear" style="font-size: 4vw;color:#4dcfc3; font-weight: bold; width:55%; height: 100%; " (click)="register()">
              {{"Registrate"| translate}}
              </ion-button>
            </ion-col>
            <ion-col size="12" style="text-align:center;">
              <p style="color:#2a3d5d; font-size: 4vw">{{"¿Tienes una cuenta?"}} <span style="height: 48dp; color:#78ddcd" (click)="login()">{{"Iniciar sesión"}}</span> </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    <!-- <div *ngIf="settings.user"> -->
      <ion-list *ngIf="settings.user?.userIsManager">
        <ion-item style="margin-bottom: 5%;" (click)="goTo('tabs/account/vendor-stores/view-store/')"  detail="true" lines="inset" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="basket" mode="md" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Productos" | translate}}</ion-label>
        </ion-item>
        <ion-item style="margin-bottom: 5%;" (click)="goTo('tabs/account/vendor-orders')" detail="true" lines="inset" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="document" mode="md" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Pedidos" | translate}}</ion-label>
        </ion-item>
        <ion-item style="margin-bottom: 5%;"detail="true"  lines="inset" class="ion-activatable" (click)="log_out()" *ngIf="settings.customer?.id">
          <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="log-out" mode="md" slot="start"></ion-icon>
          <ion-label style="font-size: 4vw; margin-left: 5%">{{"Salir" | translate}}</ion-label>
      </ion-item>
      </ion-list>
    <!-- </div> -->


    <ion-list *ngIf="(settings.user || settings.customer.id) && !settings.user?.userIsManager">
        
        <ion-item style="margin-bottom: 5%;"(click)="goTo('tabs/account/wallet')" *ngIf="settings.customer?.id && settings.settings?.enable_wallet"  detail="true" lines="inset" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="wallet" mode="md" slot="start"></ion-icon>
              <ion-label style="font-size: 4vw; margin-left: 5%">{{"Billetera" | translate}}</ion-label>
        </ion-item>

        <!-- <ion-item style="margin-bottom: 5%;"(click)="goTo('tabs/account/wishlist')" *ngIf="settings.customer?.id" detail="true" lines="inset" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-success, #2dd36f); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="heart" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Lista de Deseos" | translate}}</ion-label>
        </ion-item> -->

        <!-- <ion-item style="margin-bottom: 5%;"(click)="login()" detail="true" lines="inset" *ngIf="!settings.customer?.id" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="log-in" mode="md" slot="start"></ion-icon>
              <ion-label style="font-size: 4vw; margin-left: 5%">{{"Ingresar" | translate}}</ion-label>
        </ion-item> -->
        <!-- <ion-item style="margin-bottom: 5%;"(click)="register()" detail="true" lines="inset" *ngIf="!settings.customer?.id" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-success, #2dd36f); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="person" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Registrar" | translate}}</ion-label>
        </ion-item> -->
        <ion-item style="margin-bottom: 5%;"(click)="goTo('tabs/account/points')" detail="true" lines="inset" *ngIf="settings.reward" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="card" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Puntos" | translate}}</ion-label>
        </ion-item>
        <ion-item style="margin-bottom: 5%;"(click)="goTo('tabs/account/address')" detail="true" lines="inset" *ngIf="settings.customer?.id" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white; font-size: 4vw;;font-size: 4vw;" class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%" >{{"Direccíon" | translate}}</ion-label>
        </ion-item>
        <!-- <ion-item style="margin-bottom: 5%;"(click)="goTo('tabs/account/messaging/'+settings.user.ID)" detail="true" lines="inset" *ngIf="settings.administrator || settings.vendor" class="ion-activatable">
          <ion-icon style="background-color: var(--ion-color-success, #2dd36f); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="chatbubbles" slot="start"></ion-icon>
          <ion-label style="font-size: 4vw; margin-left: 5%">{{"Mensajes" | translate}}</ion-label>
      </ion-item> -->
        <ion-item style="margin-bottom: 5%;"(click)="goTo('tabs/account/orders')" detail="true" lines="inset" *ngIf="settings.customer?.id" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="document" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Pedidos" | translate}}</ion-label>
        </ion-item>
       <ion-item style="margin-bottom: 5%;"lines="inset" class="ion-activatable" *ngIf="settings.settings.whatsapp_number" href="https://wa.me/{{settings.settings?.whatsapp_number}}" detail="true">
            <ion-icon style="background-color: var(--ion-color-success, #2dd36f); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="logo-whatsapp" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Envíenos un Whatsapp" | translate}}</ion-label>
        </ion-item>
        <ion-item style="margin-bottom: 5%;"(click)="email(settings?.settings?.support_email)" detail="true"  *ngIf="settings?.settings?.support_email" lines="inset" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="mail" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Envíenos un Email" | translate}}</ion-label>
        </ion-item>

        <ion-item style="margin-bottom: 5%;"lines="inset" (click)="goTo('tabs/account/map')" detail="true"  class="ion-activatable" *ngIf="settings.settings?.switchLocations">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="compass" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Direccíones" | translate}}</ion-label>
        </ion-item>
        <ion-item style="margin-bottom: 5%;"lines="inset" *ngIf="settings.settings.share_app_android_link || settings.settings.share_app_ios_link" class="ion-activatable" detail="true" (click)="shareApp()">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="share" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Invitar Amigos" | translate}}</ion-label>
        </ion-item>
        <ion-item style="margin-bottom: 5%;"lines="inset" *ngIf="settings.settings.rate_app_ios_id || settings.settings.rate_app_android_id" class="ion-activatable" detail="true" (click)="rateApp()">
            <ion-icon style="background-color: var(--ion-color-danger, #428xff); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="star" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Nos califica" | translate}}</ion-label>
        </ion-item>
        <!-- <ion-item style="margin-bottom: 5%;"lines="inset" (click)="goTo('tabs/account/blogs')" detail="true"  lines="inset" class="ion-activatable">
          <ion-icon style="background-color: var(--ion-color-primary, #428xff); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="document" slot="start"></ion-icon>
        <ion-label style="font-size: 4vw; margin-left: 5%">{{"Blog" | translate}}</ion-label>
        </ion-item> -->
        <ion-item style="margin-bottom: 5%;"*ngIf="settings.user || settings.administrator || settings.vendor" detail="true"  lines="inset" (click)="goTo('tabs/account/setting')" lines="inset" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="settings" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Ajustes" | translate}}</ion-label>
        </ion-item>

        <ion-item style="margin-bottom: 5%;"*ngIf="settings.currencies?.length" detail="true"  lines="inset" (click)="goTo('tabs/account/currencies')" lines="inset" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="logo-usd" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Moneda" | translate}}</ion-label>
        </ion-item>

        <ion-item style="margin-bottom: 5%;"*ngFor="let page of settings.pages" lines="inset" [hidden]="!page.url" (click)="goTo('/tabs/account/post/'+page.url)" detail="true"  lines="inset" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-secondary, #428xff); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="document" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{page.title}}</ion-label>
            <!--ion-label>{{settings.locale[page.title]}}</ion-label-->
        </ion-item>

        <ion-item style="margin-bottom: 5%;"detail="true"  lines="inset" class="ion-activatable" (click)="log_out()" *ngIf="settings.customer?.id">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="log-out" mode="md" slot="start"></ion-icon>
            <ion-label style="font-size: 4vw; margin-left: 5%">{{"Salir" | translate}}</ion-label>
        </ion-item>

        <!-- <ion-item style="margin-bottom: 5%;"class="ion-activatable">
          <ion-icon style="background-color: var(--ion-color-primary, #428xff); color: white; font-size: 4vw;" class="icon-start ion-margin-end" slot="start" name="moon" mode="md" slot="start"></ion-icon>
          <ion-label style="font-size: 4vw; margin-left: 5%">
            {{"Tema oscuro" | translate}}
          </ion-label>
          <ion-toggle color="{{settings.theme.button}}" id="themeToggle" slot="end"></ion-toggle>
        </ion-item> -->

      </ion-list>
    <br/>
      
    <div *ngIf="settings.vendor || settings.administrator">
      <ion-list>
      <ion-item style="margin-bottom: 5%;"detail="true" lines="inset" (click)="goTo('tabs/account/vendor-stores')" class="ion-activatable">
        <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="basket" slot="start"></ion-icon>
        <ion-label style="font-size: 4vw; margin-left: 5%">{{"Mis Tiendas" | translate}}</ion-label>
      </ion-item>
      <!-- <ion-item style="margin-bottom: 5%;"detail="true" lines="inset" class="ion-activatable">
        <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white; font-size: 4vw;" class="icon-start ion-margin-end" name="chatbubbles" slot="start"></ion-icon>
        <ion-label style="font-size: 4vw; margin-left: 5%">{{"Chat con clientes" | translate}}</ion-label>
      </ion-item> -->
    </ion-list>
    </div>
</ion-content>
